* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
}

hr {
    width: 80%;
    margin: 50px auto 50px;
}

.header-container {
    display: flex;
    width: 100%;
    height: 80px;
    margin: 50px 0;
    align-items: center;
}

.header-title {
    display: flex;
    margin: 0 auto;
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

.commentary {
    justify-content: center;
}

.commentary-container {
    background-color: #D2E0FB;
    text-align: center;
    width: 80%;
    height: 300px;
    margin: 50px auto;
    padding: 100px;
    border-radius: 10px;
}

.commentary-title {
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: 700;
    font-size: 2rem
}

.commentary-text {
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 1.2rem;
}

.main-btn-container {
    background-color: #8EACCD;
    display: flex;
    margin: 0 auto 50px;
    width: 40%;
    height: 100px;
    justify-content: center;
    border-radius: 30px;
    transition: all 0.2s;
    cursor: pointer;
}

.main-btn-container:hover {
    transform: scale(0.9);
}

.main-btn-text {
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

@media only screen and (max-width: 900px) {
    .commentary-container {
        height: 150px;
        padding: 30px;
    }
    
    .header-title {
        font-size: 2.5rem;
    }

    .commentary-title {
        font-size: 1rem;
    }

    .commentary-text {
        font-size: 1rem;
    }

    .main-btn-container {
        height: 50px;
    }

    .main-btn-text {
        font-size: 1rem;
    }
}